# Lab: Introduction to Data Visualization

## Objective:
- Learn the basics of data types, formats, and data visualization using Python.

### Part 1: Data Types and Formats

1.1 Import necessary libraries:
- Pandas
- Numpy

### 1.2 Create a simple dataset:
- Name    | Age | Salary
- Alice   | 25  | 50000
- Bob     | 30  | 60000
- Charlie | 35  | 75000
- David   | 22  | 45000

1.3 Display the dataset:

1.4 Check data types of columns:

1.5 Convert 'Age' to float:

1.6 Save the dataset to CSV:

## Part 2: Data Visualization
2.1 Import Matplotlib library:

2.2 Plot a simple line chart of Name and Age

2.3 Create a bar chart for Salary:

2.4 Scatter plot for Age and Salary:

2.5 Save the visualizations: